
{% macro render_input(name, placeholder, type="text") %}
	<p><input name="{{ name }}" type="{{ type }}" placeholder="{{ placeholder }}"></p>
{% endmacro %}

{% macro render_messages(messages) %}
{% with messages = get_flashed_messages(category_filter=["success"]) %}
{% if messages %}
<div>
    {% for message in messages %}
    <div class="success">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
{% with messages = get_flashed_messages(category_filter=["error"]) %}
{% if messages %}
<div>
    {% for message in messages %}
    <div class="error">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
{% endmacro %}